# Copie para .env (que é ignorado pelo git) e preencha antes de rodar `docker compose up`.
# License key da conta New Relic usada pelo agente APM. Sem valor, o agente sobe mas não conecta.
NEW_RELIC_LICENSE_KEY=
